{% extends "user_profiles/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Log in' %}{% endblock %}
{% block heading %}<h2>{% trans 'Log in' %}</h2>{% endblock %}

{% block content %}
{% if form.errors %}
<p>{% blocktrans %}Your username and password didn't match. Please try again.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
    {% for field in form %}
    {% include "includes/field_as_p.html" %}
    {% endfor %}
    <input type="hidden" name="next" value="{{ next }}" />
    <ul class="nav">
        <li><input type="submit" value="{% trans "Log in" %}" /></li>
    </ul>
</form>

<ul class="nav">
    <li><a href="{% url signup %}">{% trans "Sign up" %}</a></li>
    <li><a href="{% url password_reset %}">{% trans "Forgot your password?" %}</a></li>
</ul>

{% endblock %}
