{% extends "user_profiles/base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password reset confirmation' %}</div>{% endblock %}

{% block title %}{% trans 'Password reset' %}{% endblock %}
{% block heading %}<h2>{% if validlink %}{% trans 'Enter new password' %}{% else %}{% trans 'Password reset unsuccessful' %}{% endif %}</h2>{% endblock %}

{% block content %}

{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
    {% include "includes/field_as_p.html" %}
    {% endfor %}
    <ul class="nav">
        <li><input type="submit" value="{% trans 'Change my password' %}" /></li>
    </ul>
</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
